*{
  margin: 0;
}

body {
  background-color: aliceblue;
  font-family:calibri;
  font-size: 19px;
  color: red; 
}

.topo {
   background-color:bisque ;
   padding: 30px;
}

.topo a {
  color: brown;
  text-decoration: none;
} 

.rodape { 
   background-color: bisque;
  padding: 30px;
  margin-bottom: 30px;
  text-align: center;
} 

.materia {
  background-color: bisque;
  padding: 30px;
  margin-bottom: 30px;
  width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.materia img {
  width: 600px;
}

.materia h1 {
margin-bottom: 10px;
font-size: 30px;
color: brown;
}

.menu{
  display: flex;
  list-style: none;
  margin-left: auto;
}

.menu a:hover{
color:black ;
}

.titulo{
  text-align: center;
  margin-bottom: 10px;
  font-size: 40px;
}

.texto{
  text-align: center;
  margin-bottom: 30px;
  font-size: 25px;
  color:brown;
}

.menu li{
  margin-left: 20px;
}

.botao {
  background-color:brown;
  color: bisque;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}

.navegacao{
  display: flex;
}

main{
  padding: 30px;
}

